/* body{
    text-align: center;
} */

/* h2{
   
} */


body{
   
}
.citi-web-image{
    position: absolute;
  height:200px;
  right:200px;
  top:80px;
 
}

.ourwork-head{
    text-align: center;
    font-size: 50px;
    margin:0px 0 50px;
    padding-top: 100px;
    /* position: relative; */
    bottom: 280px;
}
.what-head{
    margin:50px 0 100px;
    text-align: center;
    font-size: 2rem;
    color:#f49020;
}
.ourwork-banner-img{
    width:100%;
    height:450px;
}

.ourwork-container p
{
    font-weight: 100;
    /* text-align: center; */
    margin: 50px 150px;
    line-height:2rem;
    font-size: 1.2rem;
}




.web-design img{
    height:400px;
}

.web-design-images{
    display: grid;
    grid-template-columns: auto auto ;
}
.web-design-images img{
    margin:auto;
}
.web-design h2{
    text-align: center;
    color:#f49020;
    font-size: 40px;
    margin-bottom: 100px;
}

.web-design{
    margin:0px 0
    100px;
}














.container-card1{
color:rgb(59, 50, 20);
    padding:20px;
    text-align: center;
    position:relative;
    height: 300px;
    width:400px;
    background-color: #95ddf3;
    left:10%;
    /* border-radius: 10px; */
    box-shadow: -10px -10px 10px rgba(24, 21, 21, 0.678);
}

.container-card1 h2{
    padding:20px;
    font-size: 2rem;
}
.container-card1 p{
    line-height: 1.5rem;
}

.work-images1{
   height:250px;
   position:absolute;
   box-shadow: -10px -10px 10px rgba(24, 21, 21, 0.678);
   bottom:-150px;
  right:-170px;
   /* border-radius: 10px; */
   
}









.container-card2{
    /* margin-top: 150px;; */
    color:rgb(59, 50, 20);
    padding:20px;
    text-align: center;
    position:relative;
    height: 500px;
    width:400px;
    background-color: #a1a9b6;
    /* left:58%; */
    /* border-radius: 10px; */
    box-shadow: -10px -10px 10px rgba(24, 21, 21, 0.678);
    margin: auto;
}

.container-card2 h2{
    padding:20px;
    font-size: 2rem;
}
.container-card2 p{
    line-height: 1.5rem;
}

.work-images2{
   height:250px;
   position:absolute;
 left:-40%;
   /* bottom:-100px; */
   /* border-radius: 10px; */
   box-shadow: -10px -10px 10px rgba(24, 21, 21, 0.678);
}

.card2-parent{
    display:grid;
    grid-template-columns:50% 50%;
    margin:50px;
}
.card2-parent>:first-child h2{
    line-height: 2rem;
   
   font-size: 1.5rem;
    
   width:70%;
  margin-top:150px;
}







.container-card3{
    margin-top: 150px;;
    color:rgb(243, 220, 187);
        padding:20px;
        text-align: center;
        position:relative;
        height: 500px;
        width:400px;
        background-color: #b787ab;
        left:10%;
        /* border-radius: 10px; */
        box-shadow: -10px -10px 10px rgba(24, 21, 21, 0.678);
    }
    
    .container-card3 h2{
        padding:20px;
        font-size: 2rem;
    }
    .container-card3 p{
        line-height: 1.5rem;
    }
    
    .work-images3{
       height:250px;
       position:absolute;
       box-shadow: -10px -10px 10px rgba(24, 21, 21, 0.678);
       /* bottom:-150px; */
       /* border-radius: 10px; */
       
    }
    
    
/* 
.para2{
    opacity: 0;
}
.para2.animate__animated{
    opacity: 1;
}
.para3{
    opacity: 0;
}
.para3.animate__animated{
    opacity: 1;
}




.container-card1{
    opacity: 0;
}
.container-card1.animate__animated{
    opacity: 1;
}
.work-images1{
    opacity: 0;
}
.work-images1.animate__animated{
    opacity: 1;
}



.container-card2{
    opacity: 0;
}
.container-card2.animate__animated{
    opacity: 1;
}
.work-images2{
    opacity: 0;
}
.work-images2.animate__animated{
    opacity: 1;
}





.container-card3{
    opacity: 0;
}
.container-card3.animate__animated{
    opacity: 1;
}
.work-images3{
    opacity: 0;
}
.work-images3.animate__animated{
    opacity: 1;
} */






/* .ourwork-content h2{
    text-align: center; */
    /* margin-top: 50px;
    margin-bottom: 20px;
}

.ourwork-content p{
    text-align: center;
    width:40%;
    margin:auto;
}



.ourwork-card-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    margin:100px 20px;
   
} */

/* .ourwork-card-container img{
    height:250px;
    width:100%;
   
} */
/* .ourwork-card-container{
    opacity: 0;
}

.ourwork-card-container.animate__animated{
    opacity:1;
} */

/* .work-images1{
    opacity:0;
}
.work-images1.animate__animated{
    opacity:1;
}
.work-images2{
    opacity:0;
}
.work-images2.animate__animated{
    opacity:1;
}
.work-images3{
    opacity:0;
}
.work-images3.animate__animated{
    opacity:1;
}
.work-images4{
    opacity:0;
}
.work-images4.animate__animated{
    opacity:1;
}
.work-images5{
    opacity:0;
}
.work-images5.animate__animated{
    opacity:1;
}
.work-images6{
    opacity:0;
}
.work-images6.animate__animated{
    opacity:1;
}
.work-images7{
    opacity:0;
}
.work-images7.animate__animated{
    opacity:1;
}
.work-images8{
    opacity:0;
}
.work-images8.animate__animated{
    opacity:1;
} */




/* --------- brand start---------------------------------------------------------*/

/* .brand-banner{
    height:300px;
    width:100%;
} */
.brand-container{
    margin:300px 0 0;
    position: relative;

    
}
.brand-container h1{
    font-size: 40px;
    text-align: center;
    margin:20px 0 100px;
    color:#f49020;
}

.brand-image-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
   margin:auto;
/* position: absolute; */
top:90px;
width: 100%;

}
.brand-image-container img{
    height:100px;
    margin:auto;

}

/* .brand-image-container{
    opacity: 0;
}
.brand-image-container.animate__animated{
    opacity: 1;
}
.brand-banner{
    opacity: 0;
}
.brand-banner.animate__animated{
    opacity: 1;
} */


/* --------- brand end---------------------------------------------------------*/





/* get our app */
.get-app-container{
   
    display:grid;
    grid-template-columns: auto auto ;
    background-color: #FFEACE;
    color:black;
  
}

.get-app-container img{
    height:400px;
}

.get-app-container div{
    margin:auto;
    
  
}

.get-app-container button{
    padding:10px;
    border-radius: 5px;
    border:none;
    margin:0 20px;
    font-size: 1.2rem;
    width:150px;
   color: white;
    background-color: #f49020;
}
.get-app-container button:hover{
    
    color:rgb(53, 46, 46);
}

.get-app-container p{
    margin:30px 0;
    font-size: 1.2rem;
}
.get-app-container h1{
    font-size: 2.5rem;
    color:#f49020;
}


.app-list-container{
    margin-top:200px;
    display:grid;
  
}
.app-list-container h1{
    text-align: center;
    font-size: 40px;
    text-align: center;
    margin:20px 0 0;
    color:#f49020;

}


.app-list{
    margin:80px 200px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:50px;
    
}
.app-list img{
    height:200px;
    margin:auto;
}

.app-list-container p{
    margin:20px 350px ;
    text-align: center;
    line-height: 1.8rem;
}